<h2 class="text-center">Hospedaje Magdalen House</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Departamentos en Tarapoto</h5>
        <p class="card-text">
          Nuestra sucursal en Tarapoto, San Martín, Perú, es ideal para quienes
          buscan un lugar confortable mientras exploran nuevos lugares.
          Ofrecemos habitaciones económicas para estudiantes y parejas, así como
          departamentos y casas para grupos de 4 a 12 personas. ¡Descubre
          nuestras opciones en Airbnb y Booking!
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <div>
                <a href="" class="btn btn-primary"><i class="fa-brands fa-airbnb"></i></a>
                <a href="" class="btn btn-primary"><i class="fa-solid fa-b"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hospedaje en Magdalena del Mar</h5>
        <p class="card-text">
            Nuestro acogedor hospedaje en Magdalena del Mar, Lima, Perú, es ideal para quienes buscan un lugar confortable mientras exploran la ciudad. Ofrecemos habitaciones amobladas, perfectas para tu estadía, ya seas estudiante, pareja o viajero.

            ¡Encuéntranos en Airbnb y Booking  y descúbrelas!
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <div>
                <a href="" class="btn btn-primary"><i class="fa-brands fa-airbnb"></i></a>
                <a href="" class="btn btn-primary"><i class="fa-solid fa-b"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
