<h1>Hospedaje Magdalen House</h1>
<div>
    <form action="" method="get">
        <div>
            <label for="">Check-in </label>
            <input type="date" name="" id="">
        </div>
        <div>
            <label for="">Check-out</label>
            <input type="date" name="" id="">
        </div>
        <div>
            <label for="">Ubicación</label>
            <select name="" id="">
                <option value="">Lima</option>
                <option value="">Tarapoto</option>
            </select>
        </div>
    </form>
</div>