<h2 class="text-center">Servicios incluidos</h2>
<p>
  En Magdalen House, nos enorgullece ofrecer una experiencia de descanso placentera. Descubre y explora tus lugares
  favoritos con tranquilidad. Nuestras instalaciones están diseñadas para brindarte descansos reparadores con diversos
  servicios incluidos, acordes al lugar de descanso.</p>
<div class="grid-col-3">
  <div class="text-center p-3 bg-warning">Hola mundo</div>
  <div class="text-center p-3 bg-warning">Hola mundo</div>
  <div class="text-center p-3 bg-warning">Hola mundo</div>
  <div class="text-center p-3 bg-warning">Hola mundo</div>
  <div class="text-center p-3 bg-warning">Hola mundo</div>
  <div class="text-center p-3 bg-warning">Hola mundo</div>
</div>