<h2>Servicios incluidos</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab tempora sapiente
  dignissimos aliquid odit libero sed minima veritatis quod iusto laborum, vel
  adipisci quam voluptatem, voluptate error in aut laboriosam.
</p>

<div class="container mt-5">
    <div class="row g-3">
      <div class="col-md-3 g-col-6 bg-primary text-white p-3 text-center">Columna 1</div>
      <div class="col-md-3 bg-secondary text-white p-3 text-center">Columna 2</div>
      <div class="col-md-3 bg-success text-white p-3 text-center">Columna 3</div>
      <div class="col-md-3 bg-danger text-white p-3 text-center">Columna 4</div>
      <div class="col-md-3 bg-warning text-dark p-3 text-center">Columna 5</div>
      <div class="col-md-3 bg-info text-white p-3 text-center">Columna 6</div>
    </div>
  </div>
