{% extends 'index-intranet.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center " style="margin-bottom: 20px;">
    <h5>Listado de Habitaciones</h5>
    <a href="" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i> Agregar</a>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Alojamiento</th>
            <th scope="col">Precio</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for i in obj_alojamiento %}
        <tr>
            <th scope="row">1</th>
            <td>{{ i.name_booking }}</td>
            <td>{{i.price_night}}</td>
            <td>{{i.capacity_booking}}</td>
            <td>
                <a href="" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}