{% extends 'index-intranet.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-7">
    <h2 class="mb-0">Nuevas Reservas</h2>
    <p>Introduce los datos de la reserva a continuación.</p>
    <form action="{% url 'ReserApp:new-reserva' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="reservation">
      <div class="d-flex column-gap">
        {{ form.customer_selection }}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myCustomerModal">
          <i class="fa-solid fa-user-plus"></i>
        </button>
      </div>
      <div class="mb-2">
        {{ form.departamento_selection.label }}
        {{ form.departamento_selection }}
      </div>

      <div class="row mb-2">
        <div class="col-sm-6">
          {{ form.date_start.label }}
          {{ form.date_start }}
        </div>
        <div class="col-sm-6">
          {{ form.date_end.label }}
          {{ form.date_end }}
        </div>
      </div>
      <div class="mb-2">
        {{ form.number_nights.label }}
        {{ form.number_nights }}
      </div>
      <div class="mb-2">
        {{ form.number_people.label }}
        {{ form.number_people }}
      </div>
      <div class="mb-3">
        {{ form.active_booking.label }}
        {{ form.active_booking }}
      </div>

      <button class="btn btn-primary" type="submit">Guardar</button>
      <a href="#" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
  <div class="col-sm-5">
    <h4 class="mb-0">Reservas existentes</h4>
    <p>Administra tus reservas actuales.</p>
    <div class="">

      <form action="" method="get">
        <input type="search" name="search" id="" class="form-control" style="margin-bottom: 10px;">
      </form>

    </div>

    <div>
      {# Listado de Reservas #}
      {% for i in reservas %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="card-body col-md-8 px-5">
            <h6 class="card-title mb-1">{{ i.customer_selection }}</h6>
            <p class="card-text mb-1">{{ i.date_start|date:'d-m-Y' }} - {{ i.date_end|date:'d-m-Y' }}</p>
            <p
              class="bg-status {% if i.active_booking == 'confirmada' %} bg-cf {% elif i.active_booking == 'pendiente' %} bg-pd {% elif i.active_booking == 'completada' %} bg-cp {% endif %} ">
              {{ i.active_booking }}</p>
          </div>

          <div class="col-md-4 text-center align-self-center">
            <a href="{% url 'ReserApp:edit-reserva' i.id %}" class="btn btn-dark"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

</div>

<div class="modal fade" id="myCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form action="{% url 'ReserApp:new-reserva' %}" method="post">
    <input type="hidden" name="form_type" value="customer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% csrf_token %} {% for field in form_customer.visible_fields %}
          <label for="">{{ field.label }}</label>
          {{ field }} {% endfor %}
          <button class="btn btn-primary" type="submit">Guardar</button>
          <a href="{% url 'ReserApp:new-reserva' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function calcularNoches() {
      let dateStart = document.querySelector("#id_date_start").value;
      let dateEnd = document.querySelector("#id_date_end").value;
      let numberNightsInput = document.querySelector("#id_number_nights");

      if (dateStart && dateEnd) {
        let start = new Date(dateStart);
        let end = new Date(dateEnd);
        let diff = Math.ceil((end - start) / (1000 * 60 * 60 * 24));  // Diferencia en días

        numberNightsInput.value = diff > 0 ? diff : 0;
      }
    }

    // Asegurarse de que los eventos se disparen correctamente
    document.querySelector("#id_date_start").addEventListener("change", calcularNoches);
    document.querySelector("#id_date_end").addEventListener("change", calcularNoches);
  });
</script>



{% endblock %}