{% extends 'index-intranet.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center " style="margin-bottom: 20px;">
    <h5>Historial de Reservas</h5>
    <a href="#" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i> Agregar</a>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Huesped</th>
            <th scope="col">Departamento</th>
            <th scope="col">Fecha de entrada</th>
            <th scope="col">Fecha de salida</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for i in reservar %}
        <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.customer_selection}}</td>
            <td>{{i.departamento_selection}}</td>
            <td>{{i.date_start}}</td>
            <td>{{i.date_end}}</td>
            <td>{{i.active_booking}}</td>
            <td>
                <a href="{% url 'ReserApp:edit-reserva' i.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="#" class="btn btn-dark btn-sm"><i class="fa-solid fa-eye"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}