{% extends 'index-intranet.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center " style="margin-bottom: 20px;">
    <h5>Listado de Clientes</h5>
    <a href="{% url 'clientes:crear-cliente' %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i> Agregar</a>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for i in clientes %}
        <tr>
            <th scope="row">1</th>
            <td>{{ i.name_customer }} {{i.last_name_customer}}</td>
            <td>{{i.phone_customer}}</td>
            <td>{{i.address_customer}}</td>
            <td>
                <a href="" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}